body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media only screen and (max-width: 568px){
.app-imgWrapper{
  width: 100%;
  text-align: center;
}
.app-logo{
  border: 3px solid black;
  border-radius: 40px;
  text-shadow: 5px 5px black;
  margin: 50px 0px;
  filter: drop-shadow(10px 10px 10px black);
  width: 200px;
}
.app-redirecting{
  width: 100%;
  text-align: center;
  font-size: 7vw;
}
.app-redirecting-string{
  display: inline;
  color: rgba(0, 0, 0, 0.693);
}
.app-redirecting-dots{
  display: inline;
  color: rgba(0, 0, 0, 0);
  --c1: rgba(0, 0, 0, 0.693);
  --c2: rgba(0, 0, 0, 0.693);
  --c3: rgba(0, 0, 0, 0.693);
  --c4: rgba(0, 0, 0, 0.693);
  /**/
  font-size: 30px;
  width: 180px; /* control the size */
  aspect-ratio: 8/5;
  --_g: no-repeat radial-gradient(#000 68%,#0000 71%);
  -webkit-mask: var(--_g),var(--_g),var(--_g);
  -webkit-mask-size: 25% 40%;
  background: 
    conic-gradient(var(--c1) 50%,var(--c2) 0) no-repeat,
    conic-gradient(var(--c3) 50%,var(--c4) 0) no-repeat;
  background-size: 200% 50%;
  animation: 
    back 4s infinite steps(1),
    load 2s infinite;
}
@keyframes load {
  0%    {-webkit-mask-position: 0% 0%  ,50% 0%  ,100% 0%  }
  16.67%{-webkit-mask-position: 0% 100%,50% 0%  ,100% 0%  }
  33.33%{-webkit-mask-position: 0% 100%,50% 100%,100% 0%  }
  50%   {-webkit-mask-position: 0% 100%,50% 100%,100% 100%}
  66.67%{-webkit-mask-position: 0% 0%  ,50% 100%,100% 100%}
  83.33%{-webkit-mask-position: 0% 0%  ,50% 0%  ,100% 100%}
  100%  {-webkit-mask-position: 0% 0%  ,50% 0%  ,100% 0%  }
}
@keyframes back {
  0%,
  100%{background-position: 0%   0%,0%   100%}
  25% {background-position: 100% 0%,0%   100%}
  50% {background-position: 100% 0%,100% 100%}
  75% {background-position: 0%   0%,100% 100%}
}
.app-redirect{
  width: 100%;
  text-align: center;
  margin: 150px 0px;
}
.app-redirect-img{
  width: 80px;
  filter: drop-shadow(10px 10px 10px black);
  cursor: pointer;
}
.app-redirect > p {
  font-size: 30px;
  text-align: center;
  margin: 10px 50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
}
@media only screen and (min-width: 569px){
.app-imgWrapper{
  width: 100%;
  text-align: center;
}
.app-logo{
  border: 3px solid black;
  border-radius: 40px;
  text-shadow: 5px 5px black;
  margin: 50px 0px;
  filter: drop-shadow(10px 10px 10px black);
  width: 200px;
}
.app-redirecting{
  width: 100%;
  text-align: center;
  font-size: 40px;
}
.app-redirecting-string{
  display: inline;
  color: rgba(0, 0, 0, 0.693);
}
.app-redirecting-dots{
  display: inline;
  color: rgba(0, 0, 0, 0);
  --c1: rgba(0, 0, 0, 0.693);
  --c2: rgba(0, 0, 0, 0.693);
  --c3: rgba(0, 0, 0, 0.693);
  --c4: rgba(0, 0, 0, 0.693);
  /**/
  font-size: 30px;
  width: 180px; /* control the size */
  aspect-ratio: 8/5;
  --_g: no-repeat radial-gradient(#000 68%,#0000 71%);
  -webkit-mask: var(--_g),var(--_g),var(--_g);
  -webkit-mask-size: 25% 40%;
  background: 
    conic-gradient(var(--c1) 50%,var(--c2) 0) no-repeat,
    conic-gradient(var(--c3) 50%,var(--c4) 0) no-repeat;
  background-size: 200% 50%;
  animation: 
    back 4s infinite steps(1),
    load 2s infinite;
}
@keyframes load {
  0%    {-webkit-mask-position: 0% 0%  ,50% 0%  ,100% 0%  }
  16.67%{-webkit-mask-position: 0% 100%,50% 0%  ,100% 0%  }
  33.33%{-webkit-mask-position: 0% 100%,50% 100%,100% 0%  }
  50%   {-webkit-mask-position: 0% 100%,50% 100%,100% 100%}
  66.67%{-webkit-mask-position: 0% 0%  ,50% 100%,100% 100%}
  83.33%{-webkit-mask-position: 0% 0%  ,50% 0%  ,100% 100%}
  100%  {-webkit-mask-position: 0% 0%  ,50% 0%  ,100% 0%  }
}
@keyframes back {
  0%,
  100%{background-position: 0%   0%,0%   100%}
  25% {background-position: 100% 0%,0%   100%}
  50% {background-position: 100% 0%,100% 100%}
  75% {background-position: 0%   0%,100% 100%}
}
.app-redirect{
  width: 100%;
  text-align: center;
  margin: 100px 0px;
}
.app-redirect-img{
  width: 80px;
  filter: drop-shadow(10px 10px 10px black);
  cursor: pointer;
}
.app-redirect > p {
  font-size: 30px;
  text-align: center;
  margin: 10px 50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
}