@media only screen and (max-width: 700px){
  .nav-nav{
    display: inline-block;
    position: absolute;
    right: 0;
  }
  .nav-home{
    cursor: pointer;
  }
  .nav-yardSales{
    cursor: pointer;
  
  }
  .nav-createSale{
    cursor: pointer;
  
  }
  .nav-loginSignup{
    cursor: pointer;
  
  }
  .nav-search{
    cursor: pointer;
  
  }
}
@media only screen and (min-width: 701px){
  .nav-nav{
    display:  flex;
    justify-content: space-between;
  }
  .nav-home{
    cursor: pointer;
  }
  .nav-yardSales{
    cursor: pointer;

  }
  .nav-createSale{
    cursor: pointer;

  }
  .nav-loginSignup{
    cursor: pointer;

  }
  .nav-search{
    cursor: pointer;

}
}