.hamburger{
  display: none;
}
@media only screen and (max-width: 700px){
  .nav-mobile-container{
    text-align: right;
    position: absolute;
    right: 0;
    padding: 0px 10px;
  }
  .nav-mobile-nav{
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0px 0px;
  }
  .nav-mobile-home{
    cursor: pointer;
    padding: 0px 5px;
  }
  .nav-mobile-yardSales{
    cursor: pointer;
    padding: 0px 5px;

  }
  .nav-mobile-createSale{
    cursor: pointer;
    padding: 0px 5px;

  }
  .nav-mobile-loginSignup{
    cursor: pointer;
    padding: 0px 5px;

  }
  .nav-mobile-search{
    cursor: pointer;
    padding: 0px 5px;

  }
  .nav-mobile-carrot{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    border-top: 2px solid black;
    background-color: antiquewhite;
    cursor: pointer;
  }
  /* hamburger component */
  .hamburger{
    display: fixed;
    padding-top: 10px;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 10;
  }
  .burger{
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: black;
    transform-origin: 1px;
    transition: all 0.3s linear;
  }
}
@media only screen and (min-width: 701px){
  .nav-container{

  }
  .nav-nav{
    display:  flex;
    justify-content: space-between;
  }
  .nav-home{
    cursor: pointer;
  }
  .nav-yardSales{
    cursor: pointer;

  }
  .nav-createSale{
    cursor: pointer;

  }
  .nav-loginSignup{
    cursor: pointer;

  }
  .nav-search{
    cursor: pointer;

}
}