body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, Helvetica, sans-serif;
}
/* App */
.app-wrapper{

}
/* Navbar */
.nav-wrapper{
  border-bottom: .1em black solid;
}
.nav-container{ 
  display: flex;
  height: 8em;
}
.nav-container-img{
  max-width: 8em;
  border-radius: 10em;
  padding: 1em;
}
.nav-container-title{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  transform: translateY(30%);
  color: rgb(23, 41, 96);
  letter-spacing: 1.5vw;
}
.nav-container-menus{
  display: flex;
  margin-left: auto;
}
.nav-container-menus-courses{
  align-self: center;
  color: rgb(23, 41, 96);
  cursor: pointer;
  line-height: 3em;
  position: relative;
  width: 12vw;
  text-align: center;
  text-decoration: none;
  z-index: 1;
  transform: perspective(1000px);
}
.nav-container-menus-courses-dropdown{
  background-color: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  opacity: 0;
  text-align: center;
  top: 0;
  visibility: hidden;
  z-index: -99999;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); 
}
.nav-container-menus-courses-dropdown li:first-child {
  cursor: pointer;
}
.nav-container-menus-courses-dropdown a {
  color: #000;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.nav-container-menus-courses-dropdown a:hover {
  background: rgb(23, 41, 96);
  color: #fff;
}
.nav-container-menus-courses:hover .nav-container-menus-courses-dropdown {
  opacity: 1;
  visibility: visible;
  top: 100%;
  width: 100%;
  -webkit-transition: all .5s, background, 2s .5s linear;
  transition: all .5s, background 2s .5s linear;
}
.nav-container-menus-courses:hover {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); 
}
.nav-container-menus-finance{
  align-self: center;
  color: rgb(23, 41, 96);
  cursor: pointer;
  line-height: 3em;
  position: relative;
  width: 12vw;
  text-align: center;
  text-decoration: none;
  z-index: 1;
  transform: perspective(1000px);
}
.nav-container-menus-finance-dropdown{
  background-color: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  opacity: 0;
  text-align: center;
  top: 0;
  visibility: hidden;
  z-index: -99999;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); 
}
.nav-container-menus-finance-dropdown li:first-child {
  cursor: pointer;
}
.nav-container-menus-finance-dropdown a {
  color: #000;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.nav-container-menus-finance-dropdown a:hover {
  background: rgb(23, 41, 96);
  color: #fff;
}
.nav-container-menus-finance:hover .nav-container-menus-finance-dropdown {
  opacity: 1;
  visibility: visible;
  top: 100%;
  width: 100%;
  -webkit-transition: all .5s, background, 2s .5s linear;
  transition: all .5s, background 2s .5s linear;
}
.nav-container-menus-finance:hover {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); 
}