:root{
  --mainColor: rgb(23, 41, 96);
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, Helvetica, sans-serif;
}
/* ----- App ----- */
.app-wrapper{
  font-size: small;
}
/* ----- AuthForm ----- */
.authForm-wrapper{
  position: absolute;
  color: white;
  right: 0;
  top: 0;
  background-color: var(--mainColor);
  display: flex;
  padding: .2em;
  height: 1.7em;
}
.authForm-title{
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 100;
  font-size: 1vw;
}
.authForm-form{
  margin-top: auto;
  margin-bottom: auto;
}
.authForm-form > input{
  width: 7em;
  font-size: small;
  line-height: .7em;
}
.authForm-form-email{
  margin: 0 .3em;
}
.authForm-form > button{
  font-size: x-small;
  margin: 0 .3em;
  cursor: pointer;
}
/* ----- Navbar ----- */
.nav-wrapper{
  border-bottom: .1em black solid;
}
.nav-container{ 
  display: flex;
  height: 8em;
}
.nav-container-img{
  max-width: 8em;
  border-radius: 10em;
  padding: 1em;
  cursor: pointer;
}
.nav-container-title{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  line-height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  /* transform: translateY(30%); */
  color: var(--mainColor);
  letter-spacing: 1.5vw;
  cursor: pointer;
}
.nav-container-menus{
  display: flex;
  margin-left: auto;
}
.nav-container-menus-home{
  align-self: center;
  color: var(--mainColor);
  cursor: pointer;
  line-height: 3em;
  position: relative;
  width: 12vw;
  text-align: center;
  text-decoration: none;
  z-index: 1;
  transform: perspective(1000px);
}
.nav-container-menus-home:hover {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); 
}
.nav-container-menus-courses{
  align-self: center;
  color: var(--mainColor);
  cursor: pointer;
  line-height: 3em;
  position: relative;
  width: 12vw;
  text-align: center;
  text-decoration: none;
  z-index: 1;
  transform: perspective(1000px);
}
.nav-container-menus-courses-dropdown{
  background-color: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  opacity: 0;
  text-align: center;
  top: 0;
  visibility: hidden;
  z-index: -99999;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); 
}
.nav-container-menus-courses-dropdown li:first-child {
  cursor: pointer;
}
.nav-container-menus-courses-dropdown a {
  color: #000;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.nav-container-menus-courses-dropdown a:hover {
  background: var(--mainColor);
  color: #fff;
}
.nav-container-menus-courses:hover .nav-container-menus-courses-dropdown {
  opacity: 1;
  visibility: visible;
  top: 100%;
  width: 100%;
  -webkit-transition: all .5s, background, 2s .5s linear;
  transition: all .5s, background 2s .5s linear;
}
.nav-container-menus-courses:hover {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); 
}
.nav-container-menus-finance{
  align-self: center;
  color: var(--mainColor);
  cursor: pointer;
  line-height: 3em;
  position: relative;
  width: 12vw;
  text-align: center;
  text-decoration: none;
  z-index: 1;
  transform: perspective(1000px);
}
.nav-container-menus-finance-dropdown{
  background-color: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  opacity: 0;
  text-align: center;
  top: 0;
  visibility: hidden;
  z-index: -99999;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); 
}
.nav-container-menus-finance-dropdown li:first-child {
  cursor: pointer;
}
.nav-container-menus-finance-dropdown a {
  color: #000;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.nav-container-menus-finance-dropdown a:hover {
  background: var(--mainColor);
  color: #fff;
}
.nav-container-menus-finance:hover .nav-container-menus-finance-dropdown {
  opacity: 1;
  visibility: visible;
  top: 100%;
  width: 100%;
  -webkit-transition: all .5s, background, 2s .5s linear;
  transition: all .5s, background 2s .5s linear;
}
.nav-container-menus-finance:hover {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); 
}
.nav-container-menus-getStarted{
  align-self: center;
  color: var(--mainColor);
  cursor: pointer;
  line-height: 3em;
  position: relative;
  width: 12vw;
  text-align: center;
  text-decoration: none;
  z-index: 1;
  transform: perspective(1000px);
}
.nav-container-menus-getStarted-dropdown{
  background-color: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  opacity: 0;
  text-align: center;
  top: 0;
  visibility: hidden;
  z-index: -99999;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); 
}
.nav-container-menus-getStarted-dropdown li:first-child {
  cursor: pointer;
}
.nav-container-menus-getStarted-dropdown a {
  color: #000;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.nav-container-menus-getStarted-dropdown a:hover {
  background: var(--mainColor);
  color: #fff;
}
.nav-container-menus-getStarted:hover .nav-container-menus-getStarted-dropdown {
  opacity: 1;
  visibility: visible;
  top: 100%;
  width: 100%;
  -webkit-transition: all .5s, background, 2s .5s linear;
  transition: all .5s, background 2s .5s linear;
}
.nav-container-menus-getStarted:hover {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); 
}
.scroll-button{
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 3em;
  opacity: .5;
  color: grey(114, 0, 0);
  cursor: pointer;
}
.scroll-button:hover{
  color: red;
  opacity: 1;
}
/* --------------------- */
/* ----- Home Page ----- */
/* --------------------- */
.home-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
}
.home-aboutUs{
  grid-column: 1/3;
  color: white;
  background-color: var(--mainColor);
}
.home-subject-head{
  font-weight: 100;
  text-align: center;
  letter-spacing: .3vw;
  padding-top: 1em;
}
.home-subject-body{
  text-align: left;
  padding: 1em 3em;
  line-height: 2.5em;
  letter-spacing: .2vw;
}
.home-img-1{
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-column: 3/4;
}
.home-whatWeOffer{
  grid-column: 1/4;
  color: var(--mainColor);
  background-color: white;
  text-align: center;
  padding-bottom: 1em;
}
.home-whatWeOffer > p{
  text-align: center;
}
.home-subject-button {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: var(--mainColor);
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); 
}

.home-subject-button:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: var(--mainColor);
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.home-subject-button:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}
.home-subject-button:hover{
  color: white;
}
.home-subject-button:after {
  background-color: var(--mainColor);
}

.home-subject-button span {
  z-index: 1;
  position: relative;
}
.home-video{
  grid-column: 1/2;
  height: 30vw;
}
.home-testimonials{
  grid-column: 2/4;
  color: white;
  background-color: var(--mainColor);
  /* grid-row: ; */
}
.home-testimonials > p{
  border: .1em solid white;
  border-radius: 2em;
  margin: 3vw;
  background: rgb(23,41,96);
  background: linear-gradient(90deg, rgba(23,41,96,1) 0%, rgba(33,56,128,1) 50%, rgba(62,89,173,1) 100%);
  -webkit-box-shadow: 0 2px 2px 0 rgb(255, 255, 255), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 4px 0 rgb(255, 255, 255), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); 
  text-overflow: scroll;
}
.home-testimonials-fromText{

}
.home-testimonials-career{
  font-style: italic;
}
.home-testimonials-slide{
  text-align: center;
}
.home-testimonials-slide > #one{
  padding: 0 .5em;
  cursor: pointer;
}
.home-testimonials-slide > #one:hover{
  color: red;
}
.home-testimonials-slide > #two{
  padding: 0 .5em;
  cursor: pointer;
}
.home-testimonials-slide > #two:hover{
  color: red;
}
.home-testimonials-slide > #three{
  padding: 0 .5em;
  cursor: pointer;
}
.home-testimonials-slide > #three:hover{
  color: red;
}
.home-contact{
  color: var(--mainColor);;
  grid-column: 1/4;
  text-align: center;
  display: grid;
}
.home-contact > h1{
  padding-bottom: 0;
}
.home-contact > p{
  padding-top: 0;
  text-align: center;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}
.home-contact-form{
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  display: grid;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  }
.home-contact-form > input{
  color: white;
  background: rgb(23,41,96);
  background: linear-gradient(90deg, rgba(23,41,96,1) 0%, rgba(33,56,128,1) 50%, rgba(62,89,173,1) 100%); 
  font-size: 20px;
  font-weight: 500;
  line-height: 2em;
  border: none;
  margin: 1em;
  padding: .3em;
  text-align: center;
  cursor: text;
  max-width: 20em;
}
.home-contact-form > #firstName{
  grid-column: 1/2;
  grid-row: 1/2;
}
.home-contact-form > #lastName{
  grid-column: 2/3;
  grid-row: 1/2;
}
.home-contact-form > #email{
  grid-column: 3/4;
  grid-row: 1/2;
}
.home-contact-form > #phone{
  grid-row: 2/3;
  grid-column: 1/2;
}
.home-contact-form > #course{
  grid-column: 2/3;
  grid-row: 2/3;
  color: white;
  background: rgb(23,41,96);
  background: linear-gradient(90deg, rgba(23,41,96,1) 0%, rgba(33,56,128,1) 50%, rgba(62,89,173,1) 100%); 
  font-size: 20px;
  font-weight: 500;
  line-height: 2em;
  border: none;
  margin: 1em;
  padding: .3em;
  text-align: center;
  cursor: text;
  max-width: 20em;
  font: .5;
  margin-left: auto;
  margin-right: auto;
  height: 2.5em;
  cursor: pointer;
}
.home-contact-form > #message{
  grid-column: 1/4;
  grid-row: 3/4;
  color: rgb(23,41,96);
  margin: 0 3em;
}
.home-contact-form-button{
  margin: auto;
  grid-row: 4/5;
  grid-column: 2/3;
  appearance: none;
  border-width: 0;
  box-sizing: border-box;
  background-color: white;
  height: 4.5em;
  padding: 1em 1em;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); 
}
.home-contact-form-button p{
  text-transform: uppercase;
  text-align: center;
  color: rgb(23,41,96);
  font-weight: 900;
  font-size: 20px;
  margin-left: 30px;
  transition: all 0.5s ease;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin-top: auto;
  margin-bottom: auto;
}
.send2{
 left: 1em;
 margin-top: auto;
 margin-bottom: auto;
 color: rgb(23,41,96);
 font-size: 2em;
 transition: all 0.5s ease;
}
.home-contact-form-button:hover{
  background: rgb(23,41,96);

}
.home-contact-form-button:hover p{
  color: white;

}
.home-contact-form-button:hover .send2{
  top: 15px;
  color: white;
}
.home-contact-form-button-clicked{
  grid-column: 2/3;
  grid-row: 4/5;
  margin: auto;
  appearance: none;
  border-width: 0;
  box-sizing: border-box;
  background-color: white;
  height: 4.5em;
  padding: 1em 1em;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); 
}
.home-contact-form-button-clicked p{
  text-transform: uppercase;
  text-align: center;
  color: rgb(23,41,96);
  font-weight: 900;
  font-size: 20px;
  margin-left: 30px;
  margin-top: auto;
  margin-bottom: auto;
  transition: all 0.5s ease;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
}
.home-contact-form-button-clicked:hover{
 background: rgb(23,41,96);
 transition: all 0.5s ease;
}

.home-contact-form-button-clicked:hover p{
 color: white;
 transition: all 0.5s ease;
 animation: move .5s linear .5s forwards;
}
.home-contact-form-button-clicked:hover .send2{
 top: 15px;
 color: white;
 transition: all 0.5s ease;
 animation: sending .5s linear .5s forwards;
}
@keyframes sending{
 0%{
   transform: translateY(0);
   transform: rotate(-45deg)

 }
 100%{
   transform: translate(40px, -60px);
 }
}
@keyframes move{
 0%{
   transform: translateX(0);
 }
 100%{
   transform: translateX(-25px);
 }
}
.home-contact-form > button {
  grid-column: 2/4;
  max-width: 10em;
  margin-left: auto;
  margin-right: auto;
}
::placeholder {
  color: white;
  opacity: .5; /* Firefox */
}
::-ms-input-placeholder { /* Edge 12 -18 */
  color: white;
  opacity: .5;
}
/* ------------------- */
/* ----- Courses ----- */
/* ------------------- */

.courses-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: var(--mainColor);
}
.courses-block{
  background-color: var(--mainColor);
}
.courses-content{
  grid-column: 2/5;
}
.courses-content-title{
  font-weight: 100;
  text-align: center;
  letter-spacing: .3vw;
}
.courses-content-body{
  text-align: right;
  padding: 0em 4em;
  line-height: 2.5em;
  letter-spacing: .1vw;
}
.courses-button-container{
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.courses-button {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  color: var(--mainColor);
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); 
}

.courses-button:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: var(--mainColor);
  color: white;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.courses-button:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}
.courses-button:hover{
  color: white;
}
.courses-button:after {
  background-color: var(--mainColor);
  color: white;
}
.courses-button span {
  z-index: 1;
  position: relative;
}
.courses-ios{ /* This is a grid within the courses-wrapper grid*/
  grid-column: 1/5;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
  overflow: hidden;
  width: 100%;
}
.courses-ios > h4{
  
}
.courses-ios-icon{
  margin-left: auto;
  margin-right: auto;
  grid-column: 1/2;
  font-size: 10em;
  width: 100%;
}
.courses-subject-text{
  grid-column: 2/4;
  font-weight: 100;
  padding-left: 1em;
}
.courses-web{
  grid-column: 1/5;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
}
.courses-web-icon{
  margin-left: auto;
  margin-right: auto;
  grid-column: 1/2;
  font-size: 10em;
  width: 100%;
  color: white;
  background-color: var(--mainColor);
}
/* ----- Employee Portal ----- */
.employeePortal-wrapper{

}
.employeePortal-welcome{
  color: var(--mainColor);
  font-weight: 100;
  text-align: center;
  letter-spacing: 0;
  margin-bottom: 0;
}
.employeePortal-title{
  color: var(--mainColor);
  font-weight: 100;
  text-align: center;
  letter-spacing: .3vw;
  margin-top: 0;
}
.employeePortal-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}
.employeePortal-grid > h2 {
  border: 1px solid black;
  color: var(--mainColor);
  margin-bottom: auto;
  font-weight: 100;
  min-width: 165px;
}
.employeePortal-buttons{
  
}
.employeePortal-buttons-viewStudents{
  cursor: pointer;
}
.employeePortal-studentList{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
  margin-top: 0;
}
/* ----- Students ----- */
.students-form{
  display: flex;
  justify-content: space-between;
}
.students-form > label{

}
.students-wrapper-uncontacted{
  grid-column: 1/2;
  border: 1px solid var(--mainColor);
  padding: .5em;
  color: var(--mainColor);
  min-width: 152px;
  
}
.students-wrapper-processing{
  grid-column: 2/3;
  border: 1px solid var(--mainColor);
  padding: .5em;
  color: var(--mainColor);
  min-width: 152px;
}
.students-wrapper-accepted{
  grid-column: 3/4;
  border: 1px solid var(--mainColor);
  padding: .5em;
  color: var(--mainColor);
  min-width: 152px;

}
.students-wrapper-enrolled{
  grid-column: 4/5;
  border: 1px solid var(--mainColor);
  padding: .5em;
  color: var(--mainColor);
  min-width: 152px;

}
.students-wrapper-declined{
  grid-column: 5/6;
  border: 1px solid var(--mainColor);
  padding: .5em;
  color: var(--mainColor);
  min-width: 152px;
}
.students-wrapper-namesCourse{
  margin-top: 0;
  text-decoration: underline;
  font-weight: 100;
}
.students-wrapper-email{
  font-weight: 100;

}
.students-wrapper-phone{
  font-weight: 100;

}
.students-wrapper-phone{
  font-weight: 100;
}
.students-wrapper-message{
  font-weight: 100;

}
.students-delete{
  cursor: pointer;
}
/* ----- Bottom Nav ----- */
.bottomNav-wrapper{
  color: white;
  background-color: black;
  grid-column: 1/4;
  text-align: center;
}
